*{
	margin: 0px;
	padding: 0px;
}
body{
	font-family: 'Lato', sans-serif;
}
.main_container{
	width: 100%;
	float: left;
	background: url(../image/bg.jpg);
	backface-visibility: .7;
}.contant{
	width: 90%;
	margin:  0 auto;
}
.left_side{
	width: 40%;
	float: left;
	padding: 20px;
	margin-top: 100px;
}
.left_side h1{
	color: white;
}
.left_side p{
	color: white;
	padding: 10px 0px 10px 0px;
}
span{
	color: green;
}
 ul{
	list-style: none;
}
 li{
 	color:white;
}
.left_side .btn{
	padding: 10px 20px;
	color: white;
	border-radius: 10px;
	border-style: none;
	margin-top: 30px;
	background-color: blue;
}

/*right side part start*/
.right_side{
	width: 40%;
	float: left;
	padding: 20px;
	background-color: blue;
	margin-top: 100px;
	text-align: center;
}
.right_side h1{
	color: white;
}
.right_side p{
	color: white;
	margin-bottom: 20px;
}
.right_side form{
	background-color: blue;

}

.right_side .text{
	width: 100%;
	padding: 5px 0px 5px 0px;
	margin-top: 5px;
}
.left_btn{
	width: 100%;
	padding: 5px 0px 5px 0px;
	margin-top: 30px;
	background-color: darkblue;
	border-style: none;
	color: white;
	box-shadow: 0px 6px 2px 0px black;
	margin-bottom: 100px;
}